

@charset "utf-8";
															/* Justificaci?n del texto */
body { margin:0; padding:0; width:100%; background:#fafafa; text-align:center;}
html { padding:0; margin:100;}
.main { margin:0 auto; padding:0;}
.resize { width:960px; padding:0; margin:0 auto;}

/* logo */
.logo {padding:0; margin:0; width:148px; float:left;}

body {
	background: rgb(200,200,200);
	font-family: "Arial", "Verdana", "Tahoma", "Sans Serif";
}
