@charset "utf-8";
															/* Justificaci?n del texto */
body { margin:0; padding:0; width:100%; background:#fafafa; text-align:justify;}
html { padding:0; margin:0;}
.main { margin:0 auto; padding:0;}
.resize { width:960px; padding:0; margin:0 auto;}
/********** header **********/
.header_resize {background: url(images/header_bg.gif) top repeat-x; margin:0; padding:0;}
.header { width:960px; padding:0; margin:0 auto;}
.header_blog { background: url(images/header_block_bg.jpg) top center repeat-x; padding:20px 0 0 0; margin:0; height:380px;}
.header_blog2 { background: url(images/header_bglog2_bg.gif) top center repeat-x; padding:20px 0 0 0; margin:100; height:105px;}
.header_blog2 h2 {  width:350px; float:left; font: bold 36px Arial, Helvetica, sans-serif; color:#292929; padding:10px 0 0 15px; margin:0;}
.header_blog2 p { font: italic 12px Arial, Helvetica, sans-serif; color:#6d6d6d; padding:10px 0 0 0; margin:0; width:300px; float:right;}
.header_blog h2 { font: normal 18px Arial, Helvetica, sans-serif; color:#1d1d1d; padding:10px 0 0 0; margin:0;}
.header_blog p { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:0 0 30px 0; margin:0;}
/* logo */
.logo {padding:0; margin:0; width:200px; float:left;}
/*menu*/								/* Modificaci?n para espacio en los botones deL men? */
.menu { padding:13px 0 0 0; margin:0 ; width:610px;  float:left; }
.menu ul { text-align: right;  padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0 10px; border:0;}
																  /* Cambio de fuente */
.menu ul li a { float:left; margin:0; padding:10px 0; color:#fffefe; font-family: Helvetica; font-size:50%;text-decoration:none; text-transform:uppercase;}
.menu ul li a span { padding:12px 9px; background:none;}
.menu ul li a:hover {  background: url(images/r_menu.gif) no-repeat right;}
.menu ul li a:hover span {   background:url(images/l_menu.gif) no-repeat left;}
.menu ul li a.active {  background:url(images/r_menu.gif) no-repeat right;}
.menu ul li a.active span {   background:url(images/l_menu.gif) no-repeat left;}
/* body */
.body_resize  { padding:0;  margin:0 auto;}
.body { padding:20px 0; margin:0 auto; background:#fafafa; border-top:none; }
		  /* Cambio de fuente */
.body h2 { font-family: NexaB; color:#171717; padding:10px 5px 20px 5px; margin:0;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#898989; line-height:1.8em; padding:3px 5px; margin:0;}
.body p span { color:#247ca4; font: normal 11px Arial, Helvetica, sans-serif; line-height:1.8em; padding:5px 0; margin:0;}
.body a { color:#247ca4; text-decoration:none; font: bold 12px Arial, Helvetica, sans-serif;}
.body img { margin:5px auto; padding:0;}
.body img.floated { float:left; margin:10px 10px; padding:0;}
.full { margin:0; padding:10px;}
.right { width:300px;margin:0; padding:10px; float:right;}
.left {width:100%;margin:0; padding:10px; float:left;}
.blog_port { width:281px; margin:0 5px; padding:15px 10px; float:left; border:1px solid #ddd; background:#fefefe;}
/* Imagenes centradas de desarrolladores */
.blog_port img { margin:0; padding:0 5px 10px 5px; float:none; }
.butons { width:50px; margin:10px auto; padding:0;}
/*.body_bottom */
.body_bottom { background:#f8f8f8; padding:0; margin:0; border-bottom:1px solid #e9e9e9;}
.body_bottom .block { width:300px; float:left; padding:15px 10px; margin:0;}
				 /* Cambio de fuente */
.body_bottom h2 { font-family: NexaB; font-size:110%; color:#171717; padding:15px 10px; margin:0;}
.body_bottom h2 span { font: italic 11px Arial, Helvetica, sans-serif; color:#247ca4;}
.body_bottom p { font: normal 12px Arial, Helvetica, sans-serif; color:#9a9a9a; padding:10px 5px; margin:0; line-height:1.8em;}
.body_bottom img { float:left; margin:10px 10px 10px 0; padding:0;}
.body_bottom_resize { width:960px; padding:0; margin:0 auto;}
/*************footer**********/
.footer {padding:0;  margin:0; border-top:1px solid #e9e9e9; background:#ececec;}
.footer_resize { width:940px; margin:0 auto; padding:20px 10px;}
.footer p { color:#777;}
	       /* Cambio de fuente */
.footer a { font-family: NexaB; color:#777; text-decoration:none; padding:5px; margin:0;}
.footer p.right { text-align:right; width:350px; margin:0; padding:15px 0 0 0; float:right;} 
				 /* Cambio de fuente */
.footer p.leftt { font-family: NexaL; font-size:85%; text-align:center; width:550px; margin:0; padding:15px 0 0 0; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { float:right; clear:both; border-top:1px solid #e2e2e2; width:100%; padding:0; margin:5px 0; background:none; line-height:0;}
/* Slider */
#slider {  width:960px; padding:0 0 0 0; margin:0 auto;}
div#slideshow { float: left; width: 100%; height: 341px; }
.slider-item { width: 100% !important; height: 341px; }
.slider_content_inner img { border: none; }
.controls-center { width: 960px; margin-left: auto; margin-right: auto; }
#slider_controls { float: right; position: relative; margin:10px 0 0 0; z-index: 1000; width:960px; height:23px;}
															/* Modificaci?n para espacio en los botones de navegacion del Slider */
#slider_controls ul { margin:0 auto; padding:2px 23px 2px 0; width:130px;}
#slider_controls ul li { margin: 0; padding: 0; list-style: none; }
#slider_controls ul li { float: left; display: block; }
#slider_controls ul li a { width: 10px; height: 10px; background:url('images/tabs_2.gif') no-repeat center center; display: block; float: left; padding:2px; margin:2px !important; margin:1px 1px; outline: none; }
#slider_controls ul li a:focus { outline: none; }
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide { background:url('images/tabs_1.gif') no-repeat center center; }

.right p#opinion{
	font-family: ExcelsiorI;
	font-size:90%; 
}
.right strong#opinionAutor{
	font-family: ExcelsiorB;
	font-size:80%; 
}
.right strong#opinionAutor{
	font-family: ExcelsiorB;
	font-size:80%; 
}
.grafica{
		width:600px;
		height:400px;
		display:inline-block;
	}
#titulo{
	font-family: Helvetica;
	font-size:180%; 
}
#titulos{
	font-family: Helvetica;
	font-size:180%;
} 
#tituloSistema{
	font-family: Helvetica;
	font-size:140%; 
}
#tituloResidencia{
	font-family: Helvetica;
	font-size:150%; 
}
#sesion{
	font-family: Helvetica;
	font-size:150%; 
}
#sesion2{
	font-family: Helvetica;
	font-size:150%; 
}
#tablas {font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 400px; text-align: left;    border-collapse: collapse; }
th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }
td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }
tr:hover td { background: #d0dafd; color: #339; }
h1{
font-family: Code;
}
#container{
			padding:10px;
			width:100%;
			height:635px;
			}
			
			
/*Cambiar las propiedades del contenido: background, font-size, font-family ...*/
.ui-accordion .ui-accordion-content
{

background: #F5F5F5;
color: black;
font-size: 14px;
}
/*Cambiar las propiedades de la cabecera: background, font-size, font-family ...*/
.ui-accordion .ui-accordion-header
{
background: black;
color: #FFFFFF;
font-size: 18px;
}

/*Cambiar las propiedades de la tecla activa de la cabecera: background, font-size, font-family ...*/
.ui-accordion .ui-accordion-header-active
{
background: navy;
}
/*Cambiar las propiedades de la cabecera al pasar el mouse sobre: background, font-size, font-family ...*/
.ui-accordion .ui-accordion-header:hover
{
background: Dodgerblue;
font-style: oblique;

}
.flechita {
  list-style-image:url("images/flechita.png");
 }
/* Estilo para el formulario de iniciar sesi?n */
.contacto{
	font-family: Helvetica;
}
.contacto label{
	display: block; 
}
.contacto div{
	margin-bottom: 15px;
}
.contacto input[type='text'], input[type='password'], input[type='email'],  .contacto textarea{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.contacto input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, .contacto textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	
	background: #e4f1f6; 
	background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%); 
}
.contacto input[type='submit']:hover{
	background: #edfcff; 
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
}
.contacto input[type='submit']:active{
	background: #cfe6ef; 
	background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.contacto input[type='reset']{
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	
	background: #e4f1f6; 
	background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%); 
}
.contacto input[type='reset']:hover{
	background: #edfcff; 
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
}
.contacto input[type='reset']:active{
	background: #cfe6ef; 
	background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.error{
	background-color: #BC1010;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	margin-left: 16px;
	margin-top: 6px;
	position: absolute;
	font-family: Code;
	font-size:88%;
	text-shadow: 0px 2px 3px #555;
}
.error:before{
	content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
.fallo{
    background: none repeat scroll 0 0 #BC1010;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
	font-family: NexaL;
}
.exito{
    background: none repeat scroll 0 0 #3ADF00;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
	font-family: NexaL;
}
hr.separator {
border:none;
border-top:1px dashed #9E9E9E;
}

/* Fuentes */
@font-face{
	font-family: NexaB;
	src: url(boot/fonts/NexaBold.otf);
}

@font-face{
	font-family: NexaL;
	src: url(boot/fonts/NexaLight.otf);
}

@font-face{
	font-family: DeliciousI;
	src: url(boot/fonts/DeliciousI.otf);
}

@font-face{
	font-family: Electra;
	src: url(boot/fonts/Electra.otf);
}

@font-face{
	font-family: DeliciousH;
	src: url(boot/fonts/DeliciousH.otf);
}

@font-face{
	font-family: ExcelsiorB;
	src: url(boot/fonts/ExcelsiorB.otf);
}

@font-face{
	font-family: ExcelsiorI;
	src: url(boot/fonts/ExcelsiorI.otf);
}

@font-face{
	font-family: Code;
	src: url(boot/fonts/Code.otf);
}
